.Player {
  position: absolute;
  bottom: 277px;
  right: 390px;
  overflow: hidden;
  height: 65px;
  image-rendering: pixelated;
  transform: scale(3);
  z-index: 1;
}

.Player__image {
  width: 179px;
  height: 153px;
}
